.pastel {
  --bg-main: #fcd3db;
  --bg-card: #fcf8fa;
  --bg-shadow: #ef939b;

  --fg-dark: #ef939b;
  --fg-light: #f7afb8;
}

body.img {
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
