/* no images: */

.pastel-placeholder {
  --bg-main: #fcd3db;
  --bg-card: #fcf8fa;
  --bg-shadow: #ef939b;

  --fg-dark: #ef939b;
  --fg-light: #f7afb8;
}

/* with image: */
.stones {
  --bg-img: url('../images/stones.jpg');

  --bg-main: #181c1f;
  --bg-card: #181c1f;
  --bg-shadow: #15181b;

  --fg-dark: #8686a4;
  --fg-light: #bdbad8;
}

.pastel {
  --bg-img: url('../images/pastel.jpg');

  --bg-main: #fcd3db;
  --bg-card: #fcf8fa;
  --bg-shadow: #ef939b;

  --fg-dark: #ef939b;
  --fg-light: #f7afb8;
}
