@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  :root {
    --bg-main: #5e81ac;
    --bg-card: #81a1c1;
    --bg-hover: #88c0d0;

    --fg-main: #2e3440;
    --fg-hover: #d8dee9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #232836;
    --bg-card: #282e3f;
    --bg-hover: #2f364a;

    --fg-main: #8686a4;
    --fg-hover: #ccccfa;
  }
}

body:not(.img) {
  background: var(--bg-main);
}

.img {
  background: var(--bg-img);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

html,
body {
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
}

/* #region Jazz */
main {
  margin-top: auto;
  display: flex;
  overflow-y: auto;
  flex-flow: row wrap;
  width: 380px;
  position: relative;
  top: -10px;
}

.links {
  padding: 5px 15px;
  width: auto;
  display: block;
  text-align: center;
}

a:visited,
a {
  color: var(--fg-main);
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}

a:hover {
  color: var(--fg-hover);
}

main section {
  flex: 1 1 25%;
  box-sizing: border-box;
}

.title {
  display: none;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  margin: 12px;
  padding: 12px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.13);

  background-color: var(--bg-card);
  border-radius: 4px;
}

section:hover {
  background-color: var(--bg-hover);
}

/* #endregion */

button {
  background-color: var(--bg-card);
  color: var(--fg-main);
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
}

button:hover {
  background-color: var(--bg-hover);
  color: var(--fg-hover);
}
