@media (prefers-color-scheme: light) {
  :root {
    --bg-main: #eff2f5;
    --bg-card: #e4e8f2;
    --bg-hover: #d8dde7;

    --fg-main: #2e3440;
    --fg-hover: #9dc2f6;
  }
}

@media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
  :root {
    --bg-main: #232836;
    --bg-card: #282e3f;
    --bg-hover: #2f364a;

    --fg-main: #8686a4;
    --fg-hover: #ccccfa;
  }
}

body:not(.img) {
  background: var(--bg-main);
}

.img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

html,
body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

/* #region Jazz */
main {
  margin-top: auto;
  display: flex;
  overflow-y: auto;
  flex-flow: row wrap;
  width: 380px;
  position: relative;
  top: -10px;
}

.links {
  padding: 5px 15px;
  width: auto;
  display: block;
  text-align: center;
}

a:visited,
a {
  color: var(--fg-main);
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}

a:hover {
  color: var(--fg-hover);
}

main section {
  flex: 1 1 25%;
  box-sizing: border-box;
}

.title {
  display: none;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  margin: 12px;
  padding: 12px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.13);

  background-color: var(--bg-card);
  border-radius: 4px;
}

section:hover {
  background-color: var(--bg-hover);
}

/* #endregion */

/* #region Slim Select */
/* TODO consider simplifying with .ss-bg/.ss-fg classes?  */
/* "inherits any classes that were added to the original select element. This includes options as well." */

.ss-single-selected {
  background-color: var(--bg-card) !important;
  color: var(--fg-main) !important;
  border: none !important;
  /* width: fit-content !important; */
  /* font-size: small; */
}

.ss-content {
  border: none !important;
  /* width: fit-content !important; */
  /* font-size: small; */
}

.ss-optgroup-label {
  background-color: var(--bg-card) !important;
  color: var(--fg-main) !important;
}

.ss-option {
  background-color: var(--bg-card) !important;
  color: var(--fg-main) !important;
}

.ss-disabled {
  color: var(--fg-main) !important;
}

.ss-option:hover {
  background-color: var(--bg-hover) !important;
  color: var(--fg-hover) !important;
}

/* #endregion */
